snmp-server community {{ snmpv2_key1 }} RO
snmp-server community {{ snmpv2_key2 }} RO
!
snmp-server group ReadGroup v3 auth read {{ snmpv3_view }} access SNMP_Access
snmp-server view {{ snmpv3_view }} iso included
snmp-server user SNMPOp3rator ReadGroup v3 auth sha {{ snmpv3_hash }}
snmp-server location {{ location }}
!
